{% extends "employee.html" %}
{% import "bootstrap/wtf.html" as wtf %}

   {% block title %}
     View Appointment
    {% endblock %}

    {% block styles %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- Write your comments here -->
    
    {% endblock %}

  


    {% block content %}
   
    

         <div class="container">
            
            <strong>
               <div class="formwrapper">
                   <form action="{{ url_for('approve_appointment') }}" method="POST">
                    <table>
                        <thead>
                        <tr> 
                            <th>select</th>
                            <th>username</th>
                            <th>email</th>
                            <th>start</th>
                            <th>time</th>
                            <th>location</th>
                            <th>Approved</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for row in data %} 
                                <tr>
                                    <td><input type="checkbox" name="check" id="inlineCheckbox1" value="{{row[1]}}">
                                    <td>{{row[0]}}</td>
                                    <td>{{row[1]}}</td>
                                    <td>{{row[2]}}</td>
                                    <td>{{row[3]}}</td>
                                    <td>{{row[4]}}</td>
                                    <td>{{row[5]}}</td>
                                </tr>
                            {% endfor %}       
                        </tbody>
                    </table>                  
                    <br>
                    <br>
                    <br>
                     <br>
                     <button type="submit" name="submit-button" value="Submit">Accept</button>
                   </form>

                  </div>   

</strong>

               </div>

      


{% endblock %}

















     