<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>Instant Appointment Co.</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
   <header>
      <div class="container">
         <h1 class="logo"> Instant Appointment Co.</h1>
         <strong>
            <nav>
               <ul class="menu">
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li><a href="{{ url_for('register') }}">Register</a></li>
                  <li><a href="{{ url_for('login') }}">LogIn</a></li>
               </ul>
            </nav>
         </strong>
      </div>
   </header>

 

</body>
<footer id="footer">
   <p> Copyright &copy; 2020 Instant Appointment Co.</p>
   <nav>
      <ul class="menu">
         <li><a href="{{ url_for('home') }}">Home</a></li>
         <li><a href="{{ url_for('about') }}">About</a></li>
         <li><a href="{{ url_for('terms') }}">Terms of Service</a></li>
         <li><a href="{{ url_for('privacy') }}">Privacy</a></li>
      </ul>
   </nav>
</footer>
</html>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{%block content%}
{%endblock%}