 {% extends "dashboard.html" %}
   {% block title %}
     HomePage
    {% endblock %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endblock %}
   
      {% block content %}
      
    
   <!-- <img src="https://i.ibb.co/0q23x3K/appointment-illustration-9.jpg" align="right" border="0" width="480" height="230" style="padding: 100px;"/ > <p style="font-size: 20px; padding: 60px;"> -->
     
    <p>You are allowed book, cancel or reschedule your appointment booking throught the app.  </p>
     

      {% endblock %}
  
   