
{% extends "dashboard.html" %}
{% block title %}
  Privacy
 {% endblock %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endblock %}

  
   {% block content %}
   <header id="page_header">
      <h2>  PRIVACY TERMS </h2>
   </header>
   <p> A Privacy Policy is an important legal document that lets users understand the various ways a website might be collecting personal information.
       <p> The purpose of a Privacy Policy is to inform users of your data collection practices in order to protect the customer's privacy.</p>

     
  
   {% endblock %}
</body>
</html>




