{% extends "dashboard.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
  Login 
 {% endblock %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!-- Write your comments here -->

  </style>  
{% endblock %}

   {% block content %}
   <h3 style=" text-align: left; margin: 20px auto; padding: 20 px;">Register to </h3 > 

<div class="container">
<form action = "http://localhost:5000/api/register/" method = "POST">

 <!--   <label for="email">Email</label> -->
 <!--   <input type="text" id="username" name="username" placeholder="Your username..">-->
    
  <!--  <label for="psw">Password</label><br><br> -->
  <!--  <input type="password" id="password" name="password" placeholder="Enter Password.."> -->
  {{ form.hidden_tag() }}
  {{ wtf.form_field(form.username) }}
  {{wtf.form_field(form.email)}}
   <br>
  {{ wtf.form_field(form.password) }} <br> 
    
<br>
<!--<p>{{ form.submit() }}</p>-->
    <input type="submit" value="Register">
      
</form>
</div>

   {% endblock %}
